<p id="notice"><%= notice %></p>

<h1>Listing Maps</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @maps.each do |map| %>
      <tr>
        <td><%= map.title %></td>
        <td><a href ="<%= map.image_uid %>">Map</a></td>
        <td><%= link_to 'Show', user_map_url(map.user.id,map) %></td>
        <td><%= link_to 'Edit', edit_user_map_url(map.user.id,map) %></td>
        <td><%= link_to 'Destroy', user_map_url(map.user.id,map), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add Photos', new_user_map_photo_multiple_url(map.user.id,map) %></td>
        <td><%= link_to 'Generate', generate_url(map.user.id,map) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Map', new_user_map_path %>
