<p id="notice"><%= notice %></p>

<h1>Listing Mapping Methods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mapping_methods.each do |mapping_method| %>
      <tr>
        <td><%= mapping_method.name %></td>
        <td><%= link_to 'Show', mapping_method %></td>
        <td><%= link_to 'Edit', edit_mapping_method_path(mapping_method) %></td>
        <td><%= link_to 'Destroy', mapping_method, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mapping method', new_mapping_method_path %>
