<% if @map.gallery=true %>
<div class="page-header">
  <h1><%= @map.title %>     <small><%= @map.camera %></small></h1>
</div>

<% if @map.complete == true %>

<p>
  <strong style="vertical-align:top;">Map</strong>
  <a href= <%= @map.image_uid %> > <img src="<%= @map.thumbnail_uid %>"></a>
</p>

<% if @map.latitude && @map.longitude && @map.public_gps==true %>
<p>
  <strong> Google Maps </strong>
(<a href= <%= "http://maps.google.com/maps?q=#{@map.latitude},#{@map.longitude}" %>>Link</a>)
</p>

 <iframe width="600" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD7lu5wMR0E8opsrjyBUQZNrFHWlZrdlXM
    &q=<%= "#{@map.latitude},#{@map.longitude}"%>
    &attribution_source=Aerial+Maps+.+Info
    &attribution_web_url=http://www.aerialmaps.info/
  " allowfullscreen> </iframe></br>
<% end %>

<% else  %>
  <% if @map.photos.count ==0 %>
    <h2><%= link_to 'Add Photos', new_user_map_photo_multiple_url(@map.user.id,@map) %> to This Project</h2>
  <% else %>
    <h2><%= link_to 'Generate Map', generate_url(@map.user.id,@map) %></h2>
  <% end %>
<% end %>

<% end %>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Back to Gallery', gallery_path %></li>
    </ul>
  </div>
</div>

<% if @map.checkProcess == true %>
<script>
setTimeout(function(){
   window.location.reload(1);
}, 10000);
</script>
<% end %>

